.container{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.about{
    display: flex;
    gap: 40px;
    margin: 100px auto;
    align-items: flex-start;
}
.description{
    font-size: 26px;
    line-height: 38px;
    font-weight: 300;
}
.about img{
    max-width: 400px;
    aspect-ratio: 1/1.2;
    transform: rotate(2deg);
    border-radius: 0.5rem;
    object-fit: cover;
    background-attachment: fixed;
}
.features{
     margin-top: 50px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.margin{
    margin: 100px auto;
}
.title{
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.service{
    font-family: "Playwrite GB S", cursive;
    font-size: 60px;
    text-transform: uppercase;
    display: inline-block;
}
.service img{
    position: absolute;
    width: 150px;
    aspect-ratio: 1/1.2;
    right: 0;
    top: 0;
    transform-origin: left;
    transform: translate(100%,-25%) scaleX(0);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}
.service:hover img{
    transform: translate(100%,-25%) scaleX(1);
    opacity: 1;
}
.row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 25px;
}
.row_element{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 16px;
}
.row_element_title{
    font-family: "Playwrite GB S", cursive;
    font-weight: 600;
    text-transform: uppercase;
}
.row_element_text{
    color: rgb(89,89,89);
    margin-top: 5px;
    font-size: 16px;
    text-transform: none;
}
.icon{
    font-size: 30px;
}
.inputs{
    margin-top: 50px;
}
.inputs input{
    padding: 10px 0;
}
textarea{
    margin-top: 20px;
    resize: none;
    line-height: 30px !important;
}
textarea::placeholder{
    letter-spacing: 0.5px !important;
}
@media all and (max-width:1024px){
    .about{
        flex-direction: column;
        margin: 50px auto;
    }
    .about img{
        width: 100%;
        max-width: unset;
        aspect-ratio: 1/0.5;
        transform: rotate(0);
        order: 1;
    }
    .about .description {
        order: 2; 
    }
    .row{
        gap: 10px;
    }
}
@media all and (max-width:768px){
    .margin{
        margin: 50px auto;
    }
    .description{
        font-size: 20px;
        line-height: 32px;
    }
    .service{
        font-size: 40px;
    }
    .title{
        font-size: 20px;
    }
    .row{
        grid-template-columns: repeat(1,1fr);
    }
    .row_element_title,.row_element_text{
        font-size: 14px;
    }
}
@media all and (max-width:486px){
    .description{
        font-size: 16px;
        line-height: 28px;
    }
    .features{
        margin-top: 15px;
    }
    .service{
        font-size: 24px;
    }
    .title{
        font-size: 16px;
    }
    .row_element_title{
        font-size: 10px;
    }
    .row_element_text{
        font-size: 12px;
    }
    .icon{
        font-size: 20px;
    }
}