.products{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
    gap: 20px;
    margin: 100px auto;
}
.grid_item:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
    background-image: url('/images/bg1.jpg');
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
}
.grid_item:nth-child(4)::before{
    content: '';
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(250, 241, 242,0.5);
}
.grid_item:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
}

.grid_item:nth-child(6) {
    grid-column: 3;
    grid-row: 3;
}

@media all and (max-width:768px){
    .products{
        margin: 50px auto;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid_item:nth-child(4) {
        padding: 10%;
        grid-column: span 1;
        grid-row: span 1;
    }
    .grid_item:nth-child(5) {
        grid-column: 1;
        grid-row: 1;
    }
    
    .grid_item:nth-child(6) {
        grid-column: 1;
        grid-row: 1;
    }
}
@media all and (max-width:486px){
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
}