.container{
    padding: 20px;
    max-width: 1000px;
    margin: 100px auto;
}
.title{
    font-size: 26px;
    margin-bottom: 20px;
    font-family: "Playwrite GB S", cursive;
}
.faq{
    display: flex;
    gap: 30px;
    padding: 20px 0;
    align-items: start;
    cursor: pointer;
    border-top: 1px solid rgb(233, 233, 233);
}
.number{
    font-size: 40px;
    font-weight: 400;
    font-family: "Playwrite GB S", cursive;
}
.question{
    font-size: 22px;
    margin-top: 20px;
}
.answer{
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    color: rgb(89, 89, 89);
    animation: translate 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes translate {
    from{
        transform: translateY(20px);
    }to{
        transform: translateY(0px);
    }
}
@media all and (max-width:486px){
    .container{
        margin: 50px auto;
    }
    .faq{
        gap: 15px;
    }
    .title{
        font-size: 20px;
    }
    .number{
        font-size: 20px;
    }
    .question{
        font-size: 16px;
        margin-top: 4px;
    }
    .answer{
        margin-top: 10px;
        font-size: 14px;
        line-height: 26px;
    }
}